.site_footer {
    background: var(--navy);
    color: var(--white);
    text-align: center;
    margin: 0;
    flex-shrink: 0;
}

.footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.site_footer p {
    width: 100%;
    margin: 0;
    padding: 1rem 0;
}

@media(min-width:767px){
    html[dir="rtl"] .site_footer p {
      margin-right: 70px;
    }
    html[dir="ltr"] .site_footer p {
      margin-left: 70px;
    }
  }