.tableContainer {
  background: #fff;
  border-radius: 15px;
  padding: 20px 20px 28px;
  box-shadow: 0 4px 20px rgba(0,0,0,.10);
  overflow-x: auto;
}

.pageTitle {
  font-size: 26px;
  margin: 10px 0 18px;
  font-weight: 800;
  color: #0a2a4d;
  text-align: center;
}

.content {
  flex: 1;
  padding: 20px;
  margin-top: 80px;
  min-height: 81vh;
  transition: margin-right .4s ease;
  -webkit-transition: margin-right .4s ease;
  -moz-transition: margin-right .4s ease;
  -ms-transition: margin-right .4s ease;
  -o-transition: margin-right .4s ease;
}

.btnAction {
  padding: 10px 20px;
  background: #B38E19;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: .25s;
  font-size: 15px;
  font-weight: 700;
}

.btnAction:hover {
  background: #8f7316;
}

@media(min-width:767px){
  html[dir="rtl"] .tableContainer {
    margin-right: 70px;
  }
  html[dir="ltr"] .tableContainer {
    margin-left: 70px;
  }
}
